.card-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.question-card {
  background-color: var(--color-pale);
  justify-content: center;
  align-content: center;
  width: 70vw;
  position: relative;
}

.question-card:hover {
  background-color: var(--gray-color);
}

.question-card img {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 20px;
  background-color: var(--color-pale);
}
