footer {
  color: var(--gray-color);
  background-color: var(--secondary-color);
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 9;
  height: 6%;
}

.nav-bar ul {
  display: flex;
  gap: 2vw;
  justify-content: space-around;
  align-items: center;
}

.nav-bar a.active {
  background-color: var(--main-color);
}
