@import url(card.css);
@import url(header.css);
@import url(navigation.css);
@import url(variables.css);
@import url(button.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-red);
}

main {
  position: relative;
  top: 80px;
  padding-bottom: 10%;
}

.profile-info {
  display: flex;
  padding: 8vw;
  margin: 2%;
}

.profile-info img {
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-left: 10px;
}

.about-me {
  border: solid black;
  align-self: self-end;
}

.profile-info {
  display: flex;
  padding: 8vw;
  margin: 2%;
}

.profile-info img {
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-left: 10px;
}

/* .about-me {
  border: solid black; }*/
