/* @import url(card.css); */
:root {
  --main-color: #eae7dc;
  --secondary-color: #d8c3a5;
  --gray-color: #8e8e8e;
  --color-pale: #e98074;
  --color-red: #e85a4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-red);
}

header {
  color: var(--secondary-color);
  background-color: var(--gray-color);
  width: 100vw;
  height: 8%;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
}

main {
  position: relative;
  top: 80px;
  padding-bottom: 10%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.question-card {
  background-color: var(--color-pale);
  justify-content: center;
  align-content: center;
  width: 70vw;
  position: relative;
}

.question-card:hover {
  background-color: var(--gray-color);
}

.question-card img {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 20px;
  background-color: var(--color-pale);
}

footer {
  color: var(--gray-color);
  background-color: var(--secondary-color);
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 9;
  height: 4%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 2vw;
  margin-left: 2vw;
}

.nav-bar a.active {
  background-color: var(--main-color);
}

.button-answer {
  display: flex;
  align-content: center;
  padding: 3vh;
}
.button-answer button {
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--secondary-color);
  font-weight: lighter;
  height: 4vh;
  width: 15vw;
  text-align: center;
  font-size: auto;
}

.button-answer button:hover {
  background-color: var(--color-red);
}

.question {
  /* padding: 3%; */
  /* border: solid black; */
}

.question p {
  color: var(--main-color);
  margin-left: 50%;
  transform: translate(-50%, 0);
  text-align: justify;
  /* border: solid beige; */
  padding: 5%;
}

.hashtags {
  display: flex;
  flex-direction: row;
  justify-content: last baseline;
  gap: 2vw;
  margin-left: 2vw;
}

.hashtags span {
  /* border: solid black; */
  color: var(--main-color);
  width: 10%;
  text-align: center;
  font-size: smaller;
}

.profile-info {
  display: flex;
  padding: 8vw;
  margin: 2%;
}

.profile-info img {
  width: 35vw;
  height: 35vw;
  border-radius: 100%;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-left: 10px;
}

/* .about-me { */
  border: solid black;
}
