* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  color: blueviolet;
  background-color: aquamarine;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9;
}

header h1 {
  text-align: center;
}

main {
  position: relative;
  /* margin-top: 70px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10%; */
  gap: 10px;
  top: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.question-card {
  background-color: brown;
  justify-content: center;
  align-content: center;
  width: 70vw;
}

footer {
  color: blueviolet;
  background-color: aquamarine;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 9;
}

.nav-bar {
  text-align: justify;
  position: flex;
  justify-content: space-around;
}

.button-answer {
  display: flex;
  align-content: center;
  padding: 3vh;
}
.button-answer button {
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: bisque;
  font-weight: lighter;
}

.question {
  display: flex;
  padding: 3%;
}

.question p {
  margin-left: 50%;
  transform: translate(-50%, 0);
  text-align: justify;
}

.hashtags {
  display: flex;
  flex-direction: row;
  justify-content: last baseline;
  gap: 2vw;
  margin-left: 2vw;
}

.hashtags span {
  border: solid black;
  width: 8%;
  text-align: center;
}
